<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %} - GPS2OSM</title>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='awsm.css') }}" type="text/css">
</head>
<body>
	<header>
	<h1>GPX2OSM</h1>
	<p>Wizualizacja trasy na mapie OSM</p>
	</header>
	<main>
	{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flashes">
    {% for message in messages %}
      <center>{{ message }}</center>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
	{% block content %}{% endblock %}
	</main>
		<footer>
		<address>GPX2OSM 2016-2017</address>
	</footer>
	{% block scripts %}{% endblock %}
</body>
</html>